<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <title><%= htmlWebpackPlugin.options.title %></title>
    <link rel="stylesheet" href="<%= BASE_URL %>assets/css/reset.min.css">
    <link rel="stylesheet" href="<%= BASE_URL %>assets/css/style.min.css">

    <link rel="icon" href="<%= BASE_URL %>assets/ico/favicon.ico">
    <link rel="apple-touch-icon" sizes="180x180" href="<%= BASE_URL %>assets/ico/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="<%= BASE_URL %>assets/ico/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="<%= BASE_URL %>assets/ico/favicon-16x16.png">
    <link rel="manifest" href="<%= BASE_URL %>assets/ico/site.webmanifest">
    <link rel="mask-icon" href="<%= BASE_URL %>assets/ico/safari-pinned-tab.svg" color="#f4e5d0">
    <meta name="msapplication-TileColor" content="#f4e5d0">
    <meta name="theme-color" content="#f4e5d0">

  </head>
  <body>
    <noscript>
      <strong>We're sorry but <%= htmlWebpackPlugin.options.title %> doesn't work properly without JavaScript enabled. Please enable it to continue.</strong>
    </noscript>
    <div id="app"></div>
    <!-- built files will be auto injected -->
  </body>
</html>
