<template>
    <span v-for="letter in writeLetter" :key="letter.id">{{ letter }}</span>
</template>

<script>
export default {
  props: {
    word: {
      type: String,
      required: true,
    },
  },
  computed: {
    writeLetter() {
      let word = this.word,
        letters = word.split(""),
        result = "";

      for (let i = 0; i < letters.length; i++) {
        const letter = letters[i];
        result += letter.trim() === "" ? "" : letter;
      }

      return result;
    },
  },
};
</script>