<template>
  <aside>
    <h3>Liste des participants</h3>
    {{ members.length }} participant{{ members.length > 1 ? "s" : "" }}
    <ul>
      <li v-for="member in members" :key="member.id">
        <span v-if="memberToEdit !== null && memberToEdit.id === member.id">
          <input
            type="text"
            v-model="memberToEdit.name"
            @keypress.enter="save"
          />

          <select v-model="memberToEdit.avoidName">
            <option v-for="member in members" :key="member.id" :id="member.id">
              {{ member.name }}
            </option>
          </select>

          <button @click="save()">Save</button>
        </span>
        <span v-else
          >{{ member.name
          }}<i v-if="member.avoidName" :id="member.avoidId">
            (éviter {{ member.avoidName }})</i
          ></span
        >
        <button @click="editMember(member)" v-if="drawing === false">
          modif
        </button>
        <button @click="deleteMember(member)" v-if="drawing === false">
          x
        </button>
      </li>
    </ul>
  </aside>

  <button v-if="members.length > 1 || drawing === true" @click="draw(members)">
    {{ drawing === true ? "Lancer le premier tirage" : "Lancer le tirage" }}
  </button>
</template>

<script>
import { ref } from "vue";
export default {
  emits: [
    "delete-member",
    "edit-member",
    "deleteMember",
    "editMember",
    "draw-members",
    "drawMembers",
  ],
  props: {
    members: {
      type: Array,
      required: true,
    },
    drawing: {
      type: Boolean,
    },
  },
  setup(props, { emit }) {
    let memberToEdit = ref(null);

    let deleteMember = (data) => {
      emit("delete-member", data);
    };

    let editMember = (data) => {
      memberToEdit.value = data;
    };

    let save = () => {
      emit("edit-member", memberToEdit.value);
      memberToEdit.value = null;
    };

    let draw = (data) => {
      emit("draw-members", data);
    };

    return {
      deleteMember,
      memberToEdit,
      editMember,
      save,
      draw,
    };
  },
};
</script>

<style>
ul {
  list-style: none;
  text-align: left;
}
</style>